.home-card {
    max-height: 84vh;
    max-width: 45vw;
    min-width: 40vw;
}

.home-card>img {
    max-height: 540px;
}

.card-footer {
    text-align: right;
}

.card-warn {
    justify-content: center;
}

.card-warn span {
    font-size: small;
    text-align: center;
}